{{- range .Values.deployments }}
{{- $deployment := . }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .name }}
  labels:
    app.kubernetes.io/name: {{ .name }}
    {{- include "proj.labels" $ | nindent 4 }}
spec:
  type: {{ .service.type }}
  ports:
    - port: {{ .service.port }}
      targetPort: http
      protocol: TCP
      name: http
       {{ if eq .service.type "NodePort" }}
      nodePort: {{ .service.externalPort }}
      {{ end }}
  selector:
    app.kubernetes.io/name: {{ .name }}
    {{- include "proj.selectorLabels" $ | nindent 4 }}
---
{{- end }}