kind: Deployment

imagePullSecrets:
  - name: harbor-registry-secret

image:
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent

probes:
  enabled: false

service:
  port: 3000
containerPort: 3000

secretEnv: {}

secrets:
  existingSecretName: api-env
  useEnvFrom: true

ingress:
  enabled: true  
  annotations:
    kubernetes.io/ingress.class: nginx # 建議補上這個
    nginx.ingress.kubernetes.io/proxy-body-size: '0'
    # ... 其餘 annotations
    cert-manager.io/cluster-issuer: letsencrypt-dns

  hosts:
    - host: rfjs.api.royfuwei.dev
      paths:
        - path: /
          pathType: Prefix

  # ✅ 修正這裡：改為數組格式
  tls:
    - secretName: rfjs-tls-secret
      hosts:
        - rfjs.api.royfuwei.dev
