name: CD flow - Deploy local

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      appVersion:
        type: string
        default: latest
      helmVersion:
        type: string
        default: 0.0.1
    secrets:
      GIT_TOKEN:
        required: true
      KUBE_CONFIG:
        required: true
      HARBOR_HOST:
        required: true
      HARBOR_USERNAME:
        required: true
      HARBOR_TOKEN:
        required: true
      # env secrets
      ENV_DB_MONGO_URI:
        required: true
      ENV_PUBLIC_SUPABASE_URL:
        required: true
      ENV_PUBLIC_SUPABASE_ANON_KEY:
        required: true
      ENV_JWT_SECRET:
        required: true
      ENV_JWT_EXPIRES_IN:
        required: true

jobs:
  docker-build-api:
    name: Docker release - weavcraft/api:${{ inputs.appVersion }}
    uses: ./.github/workflows/_release-docker.yml
    with:
      projectName: api
      projectSource: weavcraft
      version: ${{ inputs.appVersion }}
      buildPath: apps/api/Dockerfile
      environment: ${{ inputs.environment }}
    secrets:
      HARBOR_HOST: ${{ secrets.HARBOR_HOST }}
      HARBOR_USERNAME: ${{ secrets.HARBOR_USERNAME }}
      HARBOR_TOKEN: ${{ secrets.HARBOR_TOKEN }}
      envPAT: ${{ secrets.GIT_TOKEN }}

  helm-release:
    needs: [docker-build-api]
    name: Helm release - weavcraft:${{ inputs.helmVersion}}
    uses: ./.github/workflows/_release-helm.yml
    with:
      projectName: weavcraft
      projectSource: weavcraft
      appVersion: ${{ inputs.appVersion }}
      helmVersion: ${{ inputs.helmVersion }}
      environment: ${{ inputs.environment }}
    secrets:
      HARBOR_HOST: ${{ secrets.HARBOR_HOST }}
      HARBOR_USERNAME: ${{ secrets.HARBOR_USERNAME }}
      HARBOR_TOKEN: ${{ secrets.HARBOR_TOKEN }}
      envPAT: ${{ secrets.GIT_TOKEN }}

  deploy-weavcraft:
    name: Deploy helm
    needs: helm-release
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          repository: royfuwei/rf-devops
          fetch-depth: 0
          token: ${{ secrets.GIT_TOKEN }}

      - name: Deploy to Local k8s
        uses: WyriHaximus/github-action-helm3@v3
        env:
          KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG }}
          HARBOR_HOST: ${{ secrets.HARBOR_HOST }}
          HARBOR_USERNAME: ${{ secrets.HARBOR_USERNAME }}
          HARBOR_TOKEN: ${{ secrets.HARBOR_TOKEN }}
          HARBOR_EMAIL: royfuwei@gmail.com
          NAMESPACE: weavcraft
          ENV_DB_MONGO_URI: ${{ secrets.ENV_DB_MONGO_URI }}
          ENV_PUBLIC_SUPABASE_URL: ${{ secrets.ENV_PUBLIC_SUPABASE_URL }}
          ENV_PUBLIC_SUPABASE_ANON_KEY: ${{ secrets.ENV_PUBLIC_SUPABASE_ANON_KEY }}
          ENV_JWT_SECRET: ${{ secrets.ENV_JWT_SECRET }}
          ENV_JWT_EXPIRES_IN: ${{ secrets.ENV_JWT_EXPIRES_IN }}
          PROJECT_NAME: weavcraft
          PROJECT_SOURCE: weavcraft
        with:
          kubeconfig: '${{ secrets.KUBE_CONFIG }}'
          overrule_existing_kubeconfig: "true"
          exec: |
            chmod 600 $HOME/.kube/config
            ./weavcraft/deploy-secret.sh
            ./.scripts/helm-install-latest.sh
      
